# Ignore editor and misc backup files - anywhere
*~
.*~
*.bak
\#*\#
.directory

# Ignore all object files
*.elc

# Ignore corefiles
core

# Ignore
/personal
/save
/lisp/save
/lisp/pending
/packages
tramp

# end-of-file
