# Ignore all object files
*.elc

# Ignore personal and temporary files
/personal
/save
/packages/auctex
/packages/save
my-lisp/save
.svn
CVS
.cvs*
.#*
tramp
*TAGS

/packages/*
!/packages/bin
!/packages/yasnippet/
/packages/yasnippet/*
!/packages/yasnippet/Makefile
!/packages/doremi/
/packages/doremi/*
!/packages/doremi/Makefile
!/packages/ioccur/
/packages/ioccur/*
!/packages/ioccur/Makefile
!/packages/babel/
/packages/babel/*
!/packages/babel/Makefile
!/packages/cl-lookup/
/packages/cl-lookup/*
!/packages/cl-lookup/Makefile
!/packages/icicles/
/packages/icicles/*
!/packages/icicles/Makefile

# end-of-file
